<%- include('partials/header') %>
<div class="forget-container">
  <h1>Forgot Password</h1>
  <form action="/forget" method="POST">
    <div class="forget-input">
      <i class="fa-solid fa-envelope"></i>
      <input type="email" name="username" placeholder="Enter your email" required>
    </div>
    <button type="submit">Send Reset Link</button>
  </form>
  <div class="resister-text">
    <p>Remember your password?
      <button  onclick="window.location.href='/login'">Login</button>
    </p>
  </div>
</div>
<%- include('partials/footer') %>
