<%- include('partials/header') %>
    <div class="secret-img">
        <img src="/images/sec.jpg" alt="Secret Image" class="rotate-img">
    </div>

    <div class="box">
       <h1>Welcome to my secret app</h1>
       <p>Discover exclusive features and personalized content by registering with
         our secret website. Join us now to unlock your full experience!</p>
        <div class="register-btn">
            <button type="submit" role="button" onclick="window.location.href='/register'">Register</button>
        </div>
    </div>
<%- include('partials/footer') %>
